# Scala
*.class
*.log
target/

# SBT
.cache
.cache-main
.history
.lib/
dist/
project/target
project/project
metals.sbt
.metals/
.bloop/
.bsp/

# OS X

.DS_Store

# Sublime Text
*.sublime-workspace
*.sublime-project

# Metals

# VSCode
*.code-workspace
